In [ ]:
import kagglehub
from kagglehub import KaggleDatasetAdapter
import os
import shutil
from pathlib import Path
import pandas as pd

In [43]:
notebook_dir = Path.cwd()
target_dir = notebook_dir / "data"
target_dir.mkdir(exist_ok=True)

dataset_path = kagglehub.dataset_download("sanjanapatil7/largest-companies-in-usa-by-revenue")
print(f"Dataset downloaded to cache: {dataset_path}")

Dataset downloaded to cache: /Users/GnanashriKV/.cache/kagglehub/datasets/sanjanapatil7/largest-companies-in-usa-by-revenue/versions/1

In [45]:
files = os.listdir(dataset_path)
print(f"\nAvailable files: {dataset_path}")

Available files: /Users/GnanashriKV/.cache/kagglehub/datasets/sanjanapatil7/largest-companies-in-usa-by-revenue/versions/1

In [46]:
print(f"\nFiles in cache directory:")
files = [f for f in os.listdir(dataset_path) if os.path.isfile(os.path.join(dataset_path, f))]
for file in files:
    print(f"  - {file}")

Files in cache directory:
  - companies_by_revenue.csv

In [47]:
for file in files:
    src = os.path.join(dataset_path, file)
    dst = target_dir / file
    shutil.copy2(src, dst)

In [48]:
if files:
    file_name = files[0]
    file_path = target_dir / file_name
    
    if file_name.endswith('.csv'):
        df = pd.read_csv(file_path)

In [49]:
df.head()

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and cloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"

In [50]:
df['Name'].value_counts()

Name
Walmart                            1
Intel                              1
Enterprise Products                1
New York Life Insurance Company    1
World Fuel Services                1
                                  ..
Meta Platforms                     1
AT&T                               1
Comcast                            1
Fannie Mae                         1
Qualcomm                           1
Name: count, Length: 100, dtype: int64

In [51]:
len(df['Name'].unique())

100